
@model _08Demo_Bootstrap_Layout_PartialViews.Models.Product
@* <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@(Model.Image)" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>
        <a href="#" class="btn btn-primary">Add to Cart or Details</a>
    </div>
</div> *@

<div class="card  " style="width: 280px;">
    <img src="@(Model.Image)" asp-append-version=true class="card-img-top" alt="product info">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>
        <a href="/Demo/GetProducts" class="btn btn-primary">Add To cart OR Deatils</a>
      
    </div>
</div>